.slide {
  display: flex;
  justify-content: center;
  padding: 100px 0;

  .container {
    width: 100%;
    max-width: 1400px;
  }

  .carousel-prev,
  .carousel-next {
    width: 50px;
    height: 50px;
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin: auto;
  }

  @media (max-width: 768px) {
    padding: 50px 40px; /* Adjust padding for smaller screens */

    .container {
      padding: 0px 20px; /* Add some padding to the container for smaller screens */
    }

    .carousel-prev,
    .carousel-next {
      width: 40px; /* Reduce the width of prev/next buttons for smaller screens */
      height: 40px; /* Reduce the height of prev/next buttons for smaller screens */
    }
  }
}
